<div class="jumbotron">
<h1>BlocItOff</h1>
<p>The world's favorite self destructing to-do list!</p>
<p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
</div>
